{% extends "layout.html" %}
{% block body %}

<br />
<h2>Treatment</h2>
<br />

<style>
    .card {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
</style>


<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header" style="
        color: black;
        font-size: 20px;
        font-weight: bold;">
            Patient Information
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ patientResult.first_name + " "+patientResult.last_name }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Sex</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {% if patientResult.sex == "0": %}
                    Female
                    {% else %}
                    Male
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ patientResult.calculate_age() }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header" style="
        color: black;
        font-size: 20px;
        font-weight: bold;">
            General Check Up
        </div>
        <div class="card-body">
            {% for catalogCheckUp in catalogCheckUpList %}


            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{{ catalogCheckUp.name }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {% for treatresult in orderResult.treatments %}
                    {% if treatresult.catalog_id==catalogCheckUp.id %}
                    {{ treatresult.value }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<form action="{{ url_for('treatmentEntries',  id=orderResult.id ) }}" method=post class=add-entry>


    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header" style="
            color: black;
            font-size: 20px;
            font-weight: bold;">
                Action & Prescription
            </div>
            <div class="card-body">
                <table class="table table-hover" id="tblTreatment">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for getTreatment, getCatalog in getTreatmentresult %}
                        <tr>
                            <td>
                                <select data-placeholder="Choose catalog" data-allow-clear="1" name="catalog_id">
                                    <option value=""></option>
                                    <optgroup label="Action">
                                        {% for catalogAction in catalogActionList %}


                                        {% if catalogAction.id == getTreatment.catalog_id %}
                                        <option value="{{ catalogAction.id }}"
                                            data-typeTreatment="{{ catalogAction.category }}"
                                            data-price="{{ catalogAction.price }}" selected>{{catalogAction.name}}
                                        </option>
                                        {% else %}
                                        <option value="{{ catalogAction.id }}"
                                            data-typeTreatment="{{ catalogAction.category }}"
                                            data-price="{{ catalogAction.price }}">{{catalogAction.name}}</option>
                                        {% endif %}



                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Prescription">
                                        {% for catalogPrescription in catalogPrescriptionList %}

                                        {% if catalogPrescription.id == getTreatment.catalog_id %}
                                        <option value="{{ catalogPrescription.id }}"
                                            data-typeTreatment="{{ catalogPrescription.category }}"
                                            data-price="{{ catalogPrescription.price }}" selected>{{
                                            catalogPrescription.name
                                            }}</option>
                                        {% else %}
                                        <option value="{{ catalogPrescription.id }}"
                                            data-typeTreatment="{{ catalogPrescription.category }}"
                                            data-price="{{ catalogPrescription.price }}">{{
                                            catalogPrescription.name
                                            }}</option>
                                        {% endif %}


                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </td>
                            <td id="typeTreatment">{{ getCatalog.category }}</td>
                            <td id="priceTreatment">{{ getCatalog.price }}</td>
                            <td id="quantityTreatment">
                                <input type="number" id="inputQuantityTreatment" style="width: 50px;"
                                    name="catalog_quantity" value="{{ getTreatment.quantity }}">
                            </td>
                            <td id="totalTreatment">
                                {{ getTreatment.value }}
                            </td>
                            <td onclick='removeLine(this)'>X</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

                <a class="btn btn-primary float-left" id="addTreatment" style="color: aliceblue;">Add</a>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header" style="
            color: black;
            font-size: 20px;
            font-weight: bold;">
                Log
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="InputDesc">Desc</label>
                    <textarea class="form-control" id="InputDesc" name=desc
                        rows="5">{% if orderResult is defined %}{{orderResult.desc | safe }}{% endif %}</textarea>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header" style="
            color: black;
            font-size: 20px;
            font-weight: bold;">
                Status
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select data-placeholder="Status" id="inputStatus" data-allow-clear="1" name="order_status">
                        <option value=""></option>
                        {% for orderStatus in orderStatusList %}
                        {% if orderResult is defined and orderResult.order_status == orderStatus %}
                        <option value="{{ orderStatus }}" selected>{{ orderStatus }}</option>
                        {% else %}
                        <option value="{{ orderStatus }}">{{ orderStatus }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
    </div>

    <br />

    {% if orderResult.ordersteps == 3 %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Create</button>
    {% endif %}
    <br />
</form>

<script>

    function renderSelect() {

        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });

        $('select').each(function () {
            $(this).on("change", function (e) {
                var optionSelected = $("option:selected", this);
                var parent = $(this).closest('tr');
                var type = $(optionSelected[0]).attr("data-typeTreatment");
                parent.find("#typeTreatment").html(type);

                var price = $(optionSelected[0]).attr("data-price");
                parent.find("#priceTreatment").html(price);
                parent.find("#inputQuantityTreatment").val(1);
                parent.find("#totalTreatment").html(price);
            });
        });
    }

    function renderQuantity() {
        $('input[id=inputQuantityTreatment]').on('input', function (e) {
            try {
                var parent = $(this).closest('tr');
                var price = parent.find("#priceTreatment").html();
                if (price.length > 0 && $(this).val().length > 0) {
                    parent.find("#totalTreatment").html(price * $(this).val());
                }

            }
            catch (err) {

            }

        });
    }

    function removeLine(element) {
        var parent = $(element).closest('tr');
        parent.remove();
    }

    $(function () {

        $("#addTreatment").click(function () {


            var template = `<tr>

                            <td>
                                <select data-placeholder="Choose catalog"  data-allow-clear="1"
                                    name="catalog_id">
                                    <option value=""></option>
                                    <optgroup label="Action">
                                        {% for catalogAction in catalogActionList %}
                                        <option value="{{ catalogAction.id }}"
                                            data-typeTreatment="{{ catalogAction.category }}"
                                            data-price="{{ catalogAction.price }}">{{catalogAction.name}}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Prescription">
                                        {% for catalogPrescription in catalogPrescriptionList %}
                                        <option value="{{ catalogPrescription.id }}"
                                            data-typeTreatment="{{ catalogPrescription.category }}"
                                            data-price="{{ catalogPrescription.price }}">{{
                                            catalogPrescription.name
                                            }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </td>
                            <td id="typeTreatment"></td>
                            <td id="priceTreatment"></td>
                            <td id="quantityTreatment">
                                <input type="number" id="inputQuantityTreatment" style="width: 50px;" name="catalog_quantity">
                            </td>
                            <td id="totalTreatment">

                            </td>
                            <td onclick='removeLine(this)'>X</td>
                        </tr>`;

            $("#tblTreatment > tbody ").append(template);

            renderSelect();
            renderQuantity();

        });

        renderSelect();
        renderQuantity();

        $('.datepicker').datepicker({
            language: "es",
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    });

</script>

{% endblock %}