{% extends "layout.html" %}

{% block body %}

<br />
<h2><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> List Registration</h2>

<a class="btn btn-primary float-right" href="{{ url_for('registrationEntries') }}">Create Registration</a>
<br />
<br />
<br />

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>No Order</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Payment Method</th>
            <th>Registration Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for registration in registrationList %}
        <tr>
            <td>{{ registration.order_date }}</td>
            <td>{{ registration.order_no }}</td>
            <td>{{ registration.patient_name }}</td>
            <td>{{ registration.doctor_name }}</td>
            <td>{{ registration.payment_method }}</td>
            <td>{{ registration.status }}</td>
            <td>
                <button><a style="color: #000000;"
                        href="{{ url_for('registrationEntries' ,  id=registration.id) }}">Edit</a></button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $('#data').DataTable();
</script>

{% endblock %}