{% extends "layout.html" %}
{% block body %}

<br />
<h2>General Check Up</h2>
<br />


<form {% if registration is undefined %} action="{{ url_for('registrationEntries') }}" {% else %}
    action="{{ url_for('registrationEntries',  id=registration.id ) }}" {% endif %} method=post class=add-entry>

    <div class="form-group">
        <label for="inputPatient">Patient</label>
        <select data-placeholder="Choose patient" id="inputPatient" data-allow-clear="1" name="patient_id">
            <option value=""></option>
            {% for x, y in patientDict.items() %}
            {% if registration is defined and registration.patient_id == x %}
            <option value="{{ x }}" selected>{{ y }}</option>
            {% else %}
            <option value="{{ x }}">{{ y }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>



    {% if registration is defined %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Create</button>
    {% endif %}

</form>

<script>

    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });


    $('#inputPatient').on("change", function (e) {
        console.log(this.value);
    });

    $(function () {
        $('.datepicker').datepicker({
            language: "es",
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    });

</script>

{% endblock %}