{% extends "layout.html" %}
{% block body %}

<br />
<h2>General Check Up</h2>
<br />

<style>
    .card {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
</style>


<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header" style="
        color: black;
        font-size: 20px;
        font-weight: bold;">
            Patient Information
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ patientResult.first_name + " "+patientResult.last_name }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Sex</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {% if patientResult.sex == "0": %}
                    Female
                    {% else %}
                    Male
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ patientResult.calculate_age() }}
                </div>
            </div>
        </div>
    </div>
</div>

<form {% if registration is undefined %} action="{{ url_for('registrationEntries') }}" {% else %}
    action="{{ url_for('registrationEntries',  id=registration.id ) }}" {% endif %} method=post class=add-entry>




    {% if registration is defined %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Create</button>
    {% endif %}

</form>

<script>

    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });


    $('#inputPatient').on("change", function (e) {
        console.log(this.value);
    });

    $(function () {
        $('.datepicker').datepicker({
            language: "es",
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    });

</script>

{% endblock %}